<h1>Sliding Popup</h1>
<h3 id="status"></h3>

<div id="lipsum">
  <p>
  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus convallis elementum maximus. Curabitur felis mauris, sagittis at consequat a, fermentum non mauris. Duis feugiat mi vel nunc interdum, vitae lobortis tellus sagittis. Maecenas ultricies facilisis mattis. Duis rhoncus scelerisque urna quis euismod. Vestibulum turpis nunc, rhoncus non vulputate at, sagittis id ipsum. Nullam neque erat, ultricies at mauris et, ultrices faucibus ipsum. Maecenas vitae rhoncus dui.
  </p>
  <p>
  Phasellus convallis dui non suscipit venenatis. Sed in ipsum cursus, sollicitudin leo quis, euismod felis. In hac habitasse platea dictumst. Pellentesque vitae justo non mi vestibulum tristique vitae ut urna. Integer sed risus a dui tincidunt luctus. Morbi massa nulla, consectetur ut ante vitae, ultricies tincidunt turpis. Maecenas varius condimentum sem, vel facilisis velit rutrum vitae. Nulla sit amet lorem vel felis congue vehicula ac ut odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque lacinia nulla, vel commodo massa. Curabitur non lobortis leo. Mauris quis massa ornare, ullamcorper mi in, pulvinar orci. Pellentesque sed tortor et odio varius congue at a elit. Sed nec erat aliquet, dictum neque ac, ornare odio. Nam congue vehicula maximus.
  </p>
  <p>
  Donec pharetra pharetra neque. Pellentesque mi orci, luctus vel massa eget, dictum tincidunt leo. Etiam eu ex sagittis, commodo sem semper, rutrum risus. Aliquam erat volutpat. Integer ut fermentum libero. Nullam libero ligula, aliquet vel purus eget, aliquet maximus augue. Sed bibendum laoreet turpis nec pharetra. Nam luctus felis a felis semper rutrum. Maecenas dui ante, auctor vitae fermentum in, vulputate euismod ligula. Proin ac facilisis elit, quis tempus nibh. Ut tincidunt egestas turpis, non sodales risus fringilla sit amet. Phasellus eu magna luctus, feugiat eros eu, vehicula neque. Quisque ut mi pretium, commodo orci id, semper ex. Nunc bibendum ipsum ac elit interdum, et cursus erat vulputate. Aliquam ipsum mi, tempor vitae sem vel, euismod egestas risus.
  </p>
  <p>
  Fusce molestie mauris ac lectus eleifend, a finibus purus bibendum. Nam hendrerit, leo id tempor consequat, libero sem egestas enim, aliquam ultrices mi arcu non felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac efficitur dolor, id porttitor massa. Cras id nisi aliquet purus pulvinar fermentum blandit eu elit. Aliquam laoreet ullamcorper tortor, eu suscipit nisl. Pellentesque eget magna porttitor, tempor magna nec, blandit ipsum. Ut tempus ipsum eget velit blandit bibendum. Aenean blandit, tortor eu fermentum imperdiet, orci mauris molestie mauris, quis viverra sem massa non arcu. Mauris at mauris leo. Morbi nec aliquet massa, in tristique massa. Suspendisse sed quam sed felis porttitor convallis tincidunt eget magna. Nullam eleifend rutrum lacus ac elementum. Curabitur eget ultricies lorem, id vestibulum ante. Mauris dapibus, mauris ut dignissim mollis, justo orci efficitur tortor, eget rutrum dui diam ut lacus.
  </p>
  <p>
  Morbi convallis, velit at commodo consequat, libero nisl convallis elit, ut tempor sapien nisi sit amet lacus. Nulla malesuada purus vitae sollicitudin aliquet. Sed non lorem at dui luctus tempus. Aenean molestie, nulla vitae molestie malesuada, sapien arcu ultricies tellus, in hendrerit libero est et nunc. Mauris nulla ligula, porttitor at sollicitudin sit amet, hendrerit quis velit. Mauris bibendum, est id malesuada dignissim, ipsum sem pulvinar metus, nec molestie felis neque ac purus. Nullam pellentesque lectus vitae magna mollis elementum. Morbi vel ligula eget sapien pellentesque maximus sit amet eget purus. Quisque iaculis laoreet lacus, ut elementum eros faucibus vel. Maecenas sed magna ut mauris cursus rutrum. Aenean venenatis mauris at leo aliquet cursus.
  </p>
</div>

<div class="n-sliding-popup" data-n-component="n-sliding-popup" data-n-sliding-popup-position="bottom right">
  <button class="n-sliding-popup-close" data-n-component="n-sliding-popup-close">
    <span class="n-sliding-popup-close-label">Close</span>
  </button>

  <article class="Prompt">
    <div class="Prompt-header">
      <span class="Prompt-flag">Limited Offer</span>
      <h1 class="Prompt-heading">You qualify for a 25% subscription discount</h1>
      <span class="Prompt-subheading">
        <span class="ShownOn-desktop">Pay just £4.84 per week and you will get:</span>
        <span class="ShownOn-mobile">Pay just £4.84 per week and get unlimited access</span>
      </span>
    </div>
    <div class="Prompt-info">
      <ul class="Prompt-benefitsList ShownOn-desktop">
        <li>Full digital access: online, mobile &amp; tablet</li>
        <li>5 year company financials archive</li>
        <li>Unlimited FT.com article access</li>
      </ul>
      <a href="https://subscription.ft.com/?cpgid=0504&amp;segID=100893&amp;segmentID=bbc74ab1-1054-329e-ec4c-1c614f6af5ba&amp;offerId=c1773439-53dc-df3d-9acc-20ce2ecde318" class="Prompt-subscribeBtn" data-trackable="subscribe">Save 25% now</a>
    </div>
    <div class="Prompt-aside ShownOn-desktop">
      <figure class="Prompt-figure">
        <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http://next-geebee.ft.com/assets/people/lionel.png?source=test&amp;width=126" alt="Lionel Barber, Editor">
        <figcaption class="Prompt-figureCaption">Lionel Barber, Editor
      </figcaption></figure>
    </div>
  </article>
</div>
